.equip {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 20px;
}
.title {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.title2 {
    width: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.p-3 {
    padding: 0.5rem;
}

.button {
    width: 45px;
    height: 26px;
    appearance: none;
    background-color: #5e6061;
    border-radius: 26px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, .3);
    transition: 0.25s cubic-bezier(.25, -0.6, .82, 1.66);
}
.button::before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #efe2bf;
    border-radius: 50%;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .3);
    transition: 0.25s cubic-bezier(.25, -0.6, .82, 1.66);
}
.button:checked {
    background-color: #9cf2fd;
}
.button:checked::before {
    left: 20px;
    
}